@charset "utf-8";

p.marron {
    font-family: sans-serif
}
p.amarillo {
    font-family: sans-serif
}
p.azul{
    font-family: sans-serif
}
p.verde{
    font-family: sans-serif
}
p.violeta{
    font-family: sans-serif
}
p.rojo{
    font-family: sans-serif
}