@charset "utf-8";


h1{
    text-align:center;
    font-size: 40px
}
p.marron {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 1800px;
    height:100px;
    border:rgb(230, 167, 86) 3px solid;
    background-color:burlywood;
    position: absolute;
    top: 10%;
    left:4%
}
p.amarillo {
    font-family: sans-serif;
    text-align:left;
    font-size: 20px;
    box-sizing:border-box;

}
p.azul{
    font-family: sans-serif
}
p.verde{
    font-family: sans-serif
}
p.violeta{
    font-family: sans-serif
}
p.rojo{
    font-family: sans-serif
}